h1 {
    /*aplicar borda e sombra ao título*/
    color: #3c3c3c;
    font-size: 100px;
    margin-bottom: 60px;
    text-align: center;
    border-bottom: 6px solid #e0e0e0;
    padding-bottom: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 30px;
    margin-bottom: 10px;
}

.container {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.error-message {
    color: #650000;
    background-color: #ffd6d6;
    border: 1px solid #ff4d4d;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

/* Container do formulário */
form {
    display: flex;
    gap: 10px;
    padding: 20px;
    background: #f4f7f6;
    border-radius: 12px;
    max-width: 400px;
    text-align: center;
}

/* Campo de entrada (Input) */
input[type="text"] {
    flex: 1;
    padding: 12px 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

/*formação do placeholder*/
input[type="text"]::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Efeito ao clicar no campo */
input[type="text"]:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 8px rgba(108, 99, 255, 0.2);
}

/* Botão de Enviar */
button[type="submit"] {
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

/* Efeito ao passar o mouse no botão */
button[type="submit"]:hover {
    background-color: #5a52e0;
    transform: translateY(-2px);
}

button[type="submit"]:active {
    transform: translateY(0);
}
