/* CSS responsável pela estilização da tela de login */
/*ainda em desenvolvimento*/

* {
    box-sizing: border-box;
}

dialog {
    max-width: 90vh;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: 
        -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', 
        Roboto, Oxygen, 
        Ubuntu, Cantarell, 
        'Open Sans', 
        'Helvetica Neue', 
        sans-serif;
    border: none;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}



dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px); /* Efeito moderno de desfoque */
}

.input-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-login img {
    width: 30px;
    cursor: pointer;
}


/*botão*/
.btn-submit {
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #0f0092;
  color: #FFF;
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -20px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}

.btn-submit:hover {
  background-color: #07013d;
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}

/*animação de abertura do modal */
/* Estilo do modal quando aberto */
dialog[open] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: slideUp 0.4s ease-out;
}

/* Estilo do fundo (backdrop) */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
