[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
}
[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #000000;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
